body{
    background-image: url("../Assets/IMG_20250208_164657.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.menu {
    object-fit: cover;
    width: 50%;
    height: auto;
}